<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DSPessoa" type="System.Data.DataSet" />
	</configSections>

	<connectionStrings>
		<add name="ProjetoAgendaDotNet.Properties.Settings.ConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Database=dsPessoa_Local;Connect Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<DSPessoa>
		<TableUISettings />
	</DSPessoa>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>