<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ProjetoAgendaDotNet.Properties.Settings.ConnectionString"
			 connectionString="Data Source=172.16.255.252;Initial Catalog=db_241162;User ID=241162;Password=K@keki506070;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>