<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ProjetoAgendaDotNet.Properties.Settings.ConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=|DataDirectory|\App_Data\dsPessoa_Local.mdf"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>